*{
  margin: 0;
  /* padding: 0; */
  font: helvetica;
}

#title{
  margin: 15px 0px 5px;
}

.container{
  padding: 1em;
}

.row {
  justify-content: center;
}

#convertButton{
  display: flex;
  justify-content: center;
}

#convertButton:hover{
  color: #FF7F12;
  /* font-size: 1.5em; */
}

.col{
  display: flex;
  justify-content: center;
}

#resetButton:hover{
  color: #FF7F12;
  /* font-size: 1.5em; */
}

/*turns off number box spinners*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
